extends layout

block content
  h1= title
    - let jewelrys  = results 
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each jewelry,index in jewelrys 
        - let destination = `dispatch(\"/jewelry/update?id=${jewelry._id}\")` 
        div(class="col-sm-2" OnClick=`buy(${index})` ) #{jewelry.brand} - #{jewelry.material} - #{jewelry.cost} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
       function dispatch(path){ 
      window.location.href=path 
    }