extends layout

block content
  h1= title
    - let jewelrys  = results 
  div(class="container-fluid mt-3")
  div(class="row")
    each jewelry,index in jewelrys 
        div(class="col-sm-2" OnClick=`buy(${index})` ) #{jewelry.brand} - #{jewelry.material} - #{jewelry.cost} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }